<div class="sticky-container stickyPadHierarchy">
  <div id="padbox" class="visible stickyPadHierarchy" style="display: flex;">
    <div class="pad-hierarchy-content">
      <div id="tree1" data-url="/subpad/subpad_tree_json"></div>
    </div>
  </div>
</div>
